#home_cont{
  width: 70%;
  margin: auto;
  height: 550px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px
}
.MuiAppBar-colorPrimary {
  background-color: white !important;
  color: rgb(65 157 173) !important;
}
#main .header_buttons{
  background: pink;
  color: rgb(138, 80, 114);
  font-weight: bold;
  margin-top: 11px;
  margin-right: 20px;
  float: right;
}
#search_input{
  background: #b8faf1;
  color: #8d5073;
  margin-top: 11px;
}
#search_input-label{
  color: #8d5073;
}

#main .header_buttons a{
  color: rgb(138, 80, 114);
  text-decoration: none;
}
.MuiFilledInput-root {
  background-color: white !important;
}
#main .footer_i{
  float:left
}
.footer_t{
  margin-top: 3px;
  padding-left: 5px;
  float: left;
}
#main .footer{
  margin-top: 40px;
}
#main .footer_c{
  padding-bottom: 20px;
}
#home_cont ul{
  color:  rgb(65 157 173)
}
#home_cont li{
  text-align: justify;
  margin-left: 50px;
  margin-right: 40px;
  
}
#main .form_buttons{
  background: pink;
  color: rgb(138, 80, 114);
  font-weight: bold;
  margin-top: 11px;
  margin-right: 20px;
}
#add_product{
  width: 30%;
  margin-left: 20px;
  background-color: #b8f4e882;
  padding: 20px;
}
#main .upload_buttons{
  border: 2px solid #abf2e2;
  color: #419eb0;
  background: white;
}
#main .form_input{
  border: 2px solid #abf2e2;
  color: #419eb0;
  margin-bottom: 20px;
  width: 300px;
  background: white;
}
#main .form_input:hover{
  text-decoration: none;
}

#product_name-label{
  color: #419eb0;
}
#add_product h3{
  color:  #419eb0;
}
