@media screen and (min-width: 600px) {
  #main .all_containers{
    min-height: 700px;
    margin-left: 30px;
    width: 95%;
  }
  #add_product{
    margin-left: 20px;
  }
  #main .header_buttons{
    background: pink;
    margin-right: 20px;
  }
  #add_product{
    width: 400px
  }
  .show_product_paper{
    height: 500px;
    margin-bottom: 40px;
  }
  .show_product_paper .show{
    padding-left: 30px;
    padding-top: 20px
  }
  #main .category_btn{
    font-size: 15px;
    font-weight: bold;
  }
  .avatar{
    width: 100px;
    border-radius: 10%;

  }
  .profile{
    margin-bottom: 20px;
    margin-left: 20px;
  }
  .MuiTab-wrapper {
    font-size: 10px;
    font-weight: bold;
  }
  #main .profile_buttons{
    float: right;
    margin-right: 30px;
  }
  .profile_ava{
    margin-left: 40px;
  }
}

@media screen and (max-width: 600px) {
  #main{
    font-size: small;
  }
  #main .header_buttons{
    color: rgb(138, 80, 114);
    font-weight: bold;
    margin-top: 11px;
    margin-right: 10px;
    float: right;
  }
  #main .category_btn{
    font-size: small;
  }
  .avatar{
    width: 100px;
    border-radius: 100%;

  }
  .profile_products{
    padding-top: 20px;
  }

  .MuiTab-wrapper {
    font-size: 6px;
    font-weight: bold;
  }
} 

#main .all_containers{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  overflow: hidden;
}
.MuiAppBar-colorPrimary {
  background-color: white !important;
  color: rgb(65 157 173) !important;
}
#main .header_buttons{
  color: rgb(138, 80, 114);
  font-weight: bold;
  margin-top: 11px;
  float: right;
}

#main #search_complete-label{
  color: #8d5073;
}

#main .header_buttons a{
  color: rgb(138, 80, 114);
  text-decoration: none;
}
.MuiFilledInput-root {
  background-color: white !important;
}
#main .footer_i{
  float:left
}
.footer_t{
  margin-top: 3px;
  padding-left: 5px;
  float: left;
}
#main .footer{
  margin-top: 40px;
}
#main .footer_c{
  padding-bottom: 20px;
}
#main .all_containers ul{
  color:  rgb(65 157 173)
}
#main .all_containers li{
  text-align: justify;
  margin-left: 50px;
  margin-right: 40px;
  
}
#main .form_buttons{
  background: pink;
  color: rgb(138, 80, 114);
  font-weight: bold;
  margin-top: 11px;
  margin-right: 20px;
}
#add_product{
  background-color: #b8f4e882;
  padding: 20px;
  color: #419eb0;
}
#main .upload_buttons{
  border: 2px solid #abf2e2;
  color: #419eb0;
  background: white;
}
#main .form_input{
  border: 2px solid #abf2e2;
  color: #419eb0;
  margin-bottom: 20px;
  width: 300px;
  background: white;
}
#main .form_input:hover{
  text-decoration: none;
}

#product_name-label{
  color: #419eb0;
}

#categories {
  padding-top: 10px;
  padding-bottom: 10px;
}

#main .categories_grid{
  margin-top: 30px;
}
#main .category_btn{
  color: #4b9dad;
}
#main .category_icon{
  margin-right: 15px;
}
#main .product_container{
  width: 250px;
  height: 250px;
  float: left;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding: 5px;
}
#paginator{
  margin-bottom: 30px;
  color: white;
}
#state_b{
  margin-left: 30px;
}
.comment_cont{
  border: 1px solid #419eb0;
  margin: 10px;
  padding: 10px;
}
.notification{
  padding: 20px;
  box-shadow: 0 0 6px #6ffded;
  margin-top: 20px;

}
.new_notification{
  background: rgb(163 238 222 / 19%);
  font-weight: bold;
}

